/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #222d32;
$--color-success: #67c23a;
$--color-warning: #a3a3a3;
$--color-danger: #ffc600;
$--color-info: #36a2e0;
/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";
